nav {
    background-color: var(--transparent-black);
    box-shadow: var(--section-shadow);
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav img.logo {
    width: 120px;
}

nav .links {
    padding-left: 30px;
    gap: 20px;
    margin-bottom: 0;
}
nav .links li {
    color: var(--main-blue);
    transition: var(--main-transition);
    cursor: pointer;
    position: relative;
}
nav .links li a {
    color: inherit;
}
nav .links > li::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--secondary-blue);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: var(--main-transition);
}
nav .links > li:hover,
nav .links > li:active,
nav .links .search-icon:hover {
    color: var(--secondary-blue) !important;
    border-color: var(--secondary-blue);
}
nav .links li:hover::after,
nav .links li:active::after {
    opacity: 1;
}

nav .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 25px;
}

nav .search-icon {
    border-bottom: 1px solid var(--main-blue);
}

nav .language-icon {
    box-shadow: 0px 0px 4px 1px rgb(255 255 255 / 85%);
    border-radius: 8px;
    position: relative;
    top: 3px;
}
nav .language-icon:hover {
    box-shadow: 0px 0px 4px 2px white;
    color: white;
}

nav button {
    background-color: var(--transparent);
    border: 2px solid var(--secondary-blue);
    color: var(--main-blue);
    padding: 4px 8px;
    border-radius: 8px;
    display: none;
}

@media (max-width: 991px) {
    nav button {
        display: block;
    }
    nav .links {
        position: absolute;
        opacity: 0;
        background-color: var(--transparent-black);
        margin: 0;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        border: 1px solid var(--main-blue);
        transition: var(--main-transition);
        border-radius: 0 0 15px 15px;
        padding-bottom: 10px;
        gap: 0;
        padding: 10px;
    }

    nav .mobile-menu-true {
        opacity: 1;
        height: fit-content;
    }
    nav .search-icon {
        border-bottom: none;
        margin-left: 0px;
    }
    nav .tools {
        margin: 0 auto;
    }

    nav .search-icon {
        border-bottom: 1px solid var(--main-blue);
    }

    nav .language-icon {
        top: 0;
    }
}

@media (max-width: 768px) {
    nav img.logo {
        width: 110px;
    }
}
