.Landing {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.Landing > img {
    width: 100%;
}
.Landing section {
    position: absolute;
    background-image: var(--section-gradient);
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 45%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8464635854341737) 40%,
        rgba(0, 0, 0, 0.5999649859943977) 65%,
        rgb(0 0 0 / 30%) 85%,
        rgb(255 255 255 / 0%) 100%
    );
    display: flex;
    align-self: flex-end;
}

.Landing section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Landing .main-title {
    font-size: 64px;
    text-align: center;
    padding: 10px;
    padding-bottom: 15px;
    margin: 0;
    color: var(--gray);
    text-shadow: 0px 6px 2px var(--white);
}
.Landing .description {
    color: var(--white);
    padding: 20px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-left: 4px solid var(--main-blue);
}

.Landing .action {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
    .Landing .main-title {
        font-size: 52px;
    }
}
